@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

  @apply selection:bg-primary-700/50;
}

@layer components {
  .layout-content {
    @apply p-4 md:p-6 mx-auto w-full max-w-7xl grid-cols-[23rem_auto] gap-8 xl:grid;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme="light"],
  div[data-rehype-pretty-code-title][data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"],
  div[data-rehype-pretty-code-title][data-theme="dark"] {
    display: none;
  }
}
